<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-indigo.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/globalstyle.css/"/>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <meta charset="UTF-8">
    <title>List of one question's answer choices</title>

    <link rel="stylesheet" href="/globalstyle.css/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<header th:insert="header.html :: header"> </header>

<div id="wrapper">

    <a href="../../surveylist" class="mdl-button mdl-js-button mdl-button--primary">Back</a>
    <h3 th:text="'Add answer options to ' + ${thisquestion.getQuestionText()}"></h3>

    <form th:object="${multiAnswer}" th:action="@{../../savemultioption}" method="post">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="question" class="mdl-textfield__label">An Answer</label>
            <input type="text" id="question" th:field="*{answerOption}" class="mdl-textfield__input">
        </div>
        <br>

        <br>

        <div>
            <input th:field="*{question.questionID}" readonly="readonly" type="hidden"/>
        </div>

        <button type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save the
            answer option
        </button>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/questionlist" id="button">Back to question listing</a>

    </form>

    <h4>Question's answer choices</h4>

    <div th:each="multichoice : ${multichoices}">
        <div th:if="${multichoice.getQuestion().getQuestionID()} == ${thisquestion.getQuestionID()}">
            <p th:text="${multichoice.getAnswerOption()}"></p>
            <br>
            <p>--------------------------------------</p>
        </div>

    </div>
</div>

</body>
</html>