<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="../../surveylist">Back</a>
<h2 th:text="'Add questions to ' + ${thissurvey.get().getSurveyName()}"></h2>

<form th:object="${question}" th:action="@{../../savequestion}" method="post">

    <div>
        <label for="question">The question</label>
        <br>
        <input type="text" id="question" th:field="*{questionText}">
    </div>
    <br>

    <div>
        <select id="questiontype" th:field="*{questionType}">
            <option value="choose">Choose question type</option>
            <option th:value="text">Text field question</option>
            <option th:value="multiplechoice">Multiple choice question</option>
        </select>
    </div>
    <br>

    <div>
        <input th:field="*{survey}" th:value="${thissurvey}" readonly="readonly"/>
    </div>

    <button type="submit">Save the question</button>

</form>

<h3>Survey's questions</h3>

<div th:each="singlequestion : ${questions}">
    <div th:if="${singlequestion.getSurvey().getSurveyId()} == ${thissurvey.get().getSurveyId()}">
        <a th:text="${singlequestion.getQuestionText()}"></a>
        <br>
        <a>--------------------------------------</a>
    </div>

</div>

</body>
</html>