<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>

    <link rel="stylesheet" href="/globalstyle.css/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<div id="wrapper">

    <h3>Add a question</h3>
    <br>

    <form th:object="${question}" th:action="@{savequestion}" method="post">

        <div>
            <label for="question">The question</label>
            <br>
            <input type="text" id="question" th:field="*{questionText}">
        </div>
        <br>

        <div>
            <select id="questiontype" th:field="*{questionType}">
                <option value="choose">Choose question type</option>
                <option th:value="text">Text field question</option>
                <option th:value="multiplechoice">Multiple choice question</option>
            </select>
        </div>
        <br>

        <div>
            <label for="survey">Which survey is this question a part of:</label>
            <br>
            <select id="survey" th:field="*{survey}">
                <option value="Choose">Choose the survey</option>
                <option th:each="survey : ${surveys}"
                        th:value="${survey.surveyId}"
                        th:text="${survey.surveyName}"></option>
            </select>

        </div>
        <br>

        <button type="submit">Save the question</button>

    </form>

</div>

</body>

</html>